#form-password {
    display: none;
}

#content .hidden {
    display: none;
}

#content .alert {
    border: solid 1ex red;
    padding: 1ex;
    font-size: large;
}

.image-placeholder {
    display: grid;
    grid-template: 1fr / minmax(auto, 25em) 1fr;
    margin-top: 1em;
    gap: 1em;
}

.image-placeholder .image-container {
    border: 1px solid #000;
    overflow: auto;
    resize: both;
}

.image-container .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-status-inserting .image-overlay .button-remove {
    display: none;
}

.image-placeholder .filename {
    display: none;
}

.image-status-waiting .image-overlay .filename {
    display: inherit;
}

.image-placeholder .change-width > *, .image-placeholder .change-height > * {
    display: inline;
}

.inserting-as {
    display: none;
}

.inserting-as > * {
    display: inline;
}

.image-status-inserting .inserting-as, .image-status-inserting .inserting-as .filename {
    display: inherit;
}

.key button {
    display: none;
}

.image-status-inserted .key button {
    display: inline;
}

.button-remove {
    background-color: red;
    color: yellow;
    font-weight: bold;
}

.button-remove:hover {
    background-color: lch(from #ff0000 calc(l - 15) c h);
}

#image-template {
    display: none;
}
