#form-password {
    display: none;
}

#content .hidden {
    display: none;
}

.image-placeholder {
    display: grid;
    grid-template: 1fr / min-content auto;
    margin-top: 1em;
    gap: 1em;
}

.image-placeholder .canvas-container {
    border: 1px solid #000;
}

.image-placeholder canvas {
    display: block;
}

.image-placeholder .image-overlay .button-start {
    display: none;
}

.image-placeholder.image-status-waiting .image-overlay .button-start {
    display: inherit;
}

.image-status-inserting .image-overlay .button-remove {
    display: none;
}

.image-placeholder .filename {
    display: none;
}

.image-placeholder .change-dimensions {
    display: none;
}

.image-placeholder.image-status-waiting .change-dimensions {
    display: inherit;
}

.image-placeholder .change-width > *, .image-placeholder .change-height > * {
    display: inline;
}

.image-placeholder .format > div {
    display: inline;
}

.image-placeholder .format .type {
    display: none;
}

.image-placeholder .format .type.other {
    display: inherit;
}

.key button {
    display: none;
}

.image-status-inserted .key button {
    display: inline;
}

.image-placeholder .format.image-type-png .type.png {
    display: inline;
}

.image-placeholder .format.image-type-png .type.other {
    display: none;
}

.image-placeholder .format.image-type-jpeg .type.jpeg {
    display: inline;
}

.image-placeholder .format.image-type-jpeg .type.other {
    display: none;
}

.image-status-waiting .image-overlay .filename {
    display: inherit;
}

#image-template {
    display: none;
}
