#form-password {
    display: none;
}

#content .hidden {
    display: none;
}

.image-placeholder {
    display: grid;
    grid-template: 1fr / min-content auto;
    margin-top: 1em;
    gap: 1em;
}

.image-placeholder .canvas-container {
    border: 1px solid #000;
}

.image-placeholder canvas {
    display: block;
}

.image-status-inserting .image-overlay .button-remove {
    display: none;
}

.image-placeholder .filename {
    display: none;
}

.image-status-waiting .image-overlay .filename {
    display: inherit;
}

.image-placeholder .change-width > *, .image-placeholder .change-height > * {
    display: inline;
}

.key button {
    display: none;
}

.image-status-inserted .key button {
    display: inline;
}

.start-insert > div {
    display: inline;
}

.start-insert {
    display: none;
}

.image-status-waiting .start-insert {
    display: inherit;
}

#image-template {
    display: none;
}
